Limit one COSE message (result) per security operation

There is currently no limit on the number of COSE messages that can be produced for a single security target and its security operation. This make it difficult to handle as a receiver and serves no purpose, as COSE messages can already involve multiple recipients.

There should be a hard limit to one message per security operation, which also translates to one result per target.

Just to clarify: with this change you want to limit each BCB or BIB to only target a block once. A BIB and a BCB with the same target might still exit? (this may be a bit unclear to the reader). So you want to make this security context comply with / repeat RFC9172 section 3.2 uniqueness (https://www.rfc-editor.org/rfc/rfc9172.html#name-uniqueness)?