Wrong encoding of the HKDF info object - pycose

The original issue is actually in the pycose project (the HKDF derivation part), but, it results in a faulty final bundle for the example 6.

According to RFC9053 5.2 the protected parameter map in the SuppPubInfo shall be encoded as an empty bytestring if the map is empty.

In pycose https://github.com/TimothyClaeys/pycose/blob/master/pycose/messages/context.py line 49 and following, the encoding always encodes the protected parameter map as a map, resulting in an encoded empty map instead of am empty bytestring.

That should be raised as an issue in pycose but as it affects the correctness of this example, it should be mentioned here i think. :)

This is actually a good point that the COSE requirement in [Section 3.1 of RFC 9052](https://www.rfc-editor.org/rfc/rfc9052.html#section-3.1) states that the alg header parameter must be in the protected headers whenever possible. So the structure of the HKDF example is incorrect because the protected headers are part of the HKDF info object. I will correct this example, which will avoid the pycose issue entirely.