Update references to new COSE documents

The original COSE reference to [RFC 8152](https://datatracker.ietf.org/doc/rfc8152/) has been obsoleted by [RFC 9052](https://datatracker.ietf.org/doc/rfc9052/) and [RFC 9053](https://datatracker.ietf.org/doc/rfc9053/). This document should have its referenced updated accordingly. There is no change in actual technical behavior or CDDL symbol names.