Citation for deterministic encoding

Regarding "deterministic" encoding in the AAD, this should reference Section 4.2.1 of RFC 8949.