Thanks, I appreciate the explanation and link! I would then potentially add the hint (or reference) from RFC8152 (Section 12.1.2) that the salt is suggested to be at least as long as the hash function to ensure key uniqueness.

Nevertheless, from my understanding, the protection goals for binding context to KDF (key uniqueness) are different from the AAD, e.g., prevent an adversary from replaying ciphertext (Bundle Source and Security Source can be different when the primary block is optional, though).