No CRC or integrity protection on the primary block.

We found the issue (also in RFC9173) that the example bundles are not RFC9171 conformant. RFC9171, section 4.3.1, crc, requires either a CRC or an integrity protection on the primary block. That is not given for the example bundles.