Definition and Explanation for the "kid context" header

The "kid context" header is defined in RFC8613, Section 5.1, which is a cose extension RFC. We want to include this header as mandatory in the bpsec cose context to allow security sources giving the verifier/acceptor an easier job of filtering down available keys or recognize the kid context if the key is missing.

This parameter is currently not well defined in terms of structure and functionality and is missing a proper explanation.



A current use case that we might want to incorporate can be found here:
https://www.ietf.org/archive/id/draft-sipos-dtn-bp-safe-00.html#section-9.5.4